/mod_http2-1.*.tar.gz
/mod_http2-1.[0-9]*.[0-9]*/
/clog
/mod_http2-2.0.7.tar.gz
/results_*
/mod_http2-2.0.9.tar.gz
/mod_http2-2.0.11.tar.gz
/mod_http2-2.0.14.tar.gz
/mod_http2-2.0.18.tar.gz
/mod_http2-2.0.22.tar.gz
/mod_http2-2.0.25.tar.gz
/mod_http2-2.0.26.tar.gz
/mod_http2-2.0.27.tar.gz
/mod_http2-2.0.29.tar.gz
/mod_http2-2.0.32.tar.gz
/mod_http2-2.0.35.tar.gz
/mod_http2-2.0.36.tar.gz
/mod_http2-2.0.37.tar.gz
