/*.src.rpm
/ktorrent-5.1.1.tar.xz
/ktorrent-5.1.2.tar.xz
/ktorrent-5.2.0.tar.xz
/0016-Update-FindTaglib-from-ECM.patch
/ktorrent-20.12.2.tar.xz
/ktorrent-20.12.3.tar.xz
/ktorrent-21.04.0.tar.xz
/ktorrent-21.04.1.tar.xz
/ktorrent-21.04.2.tar.xz
/ktorrent-21.04.3.tar.xz
/ktorrent-21.08.2.tar.xz
/ktorrent-21.08.3.tar.xz
/ktorrent-21.12.0.tar.xz
/ktorrent-21.12.1.tar.xz
/ktorrent-21.12.2.tar.xz
/ktorrent-21.12.3.tar.xz
/ktorrent-22.04.0.tar.xz
/ktorrent-22.04.0.tar.xz
/ktorrent-22.04.1.tar.xz
/ktorrent-22.04.1.tar.xz
/ktorrent-22.04.3.tar.xz
/ktorrent-22.08.0.tar.xz
/ktorrent-22.08.1.tar.xz
/ktorrent-22.08.2.tar.xz
/ktorrent-22.08.3.tar.xz
/ktorrent-22.12.0.tar.xz
/ktorrent-22.12.1.tar.xz
/ktorrent-22.12.2.tar.xz
/ktorrent-22.12.3.tar.xz
/ktorrent-23.03.80.tar.xz
/ktorrent-23.03.90.tar.xz
/ktorrent-23.04.0.tar.xz
/ktorrent-23.04.1.tar.xz
/ktorrent-23.04.2.tar.xz
/ktorrent-23.04.3.tar.xz
/ktorrent-23.08.0.tar.xz
/ktorrent-23.08.1.tar.xz
/ktorrent-23.08.2.tar.xz
/ktorrent-24.01.75.tar.xz
/ktorrent-24.01.80.tar.xz
/ktorrent-24.01.85.tar.xz
/ktorrent-24.01.90.tar.xz
/ktorrent-24.01.95.tar.xz
/ktorrent-24.02.0.tar.xz
/ktorrent-24.02.1.tar.xz
/ktorrent-24.02.2.tar.xz
/ktorrent-24.05.0.tar.xz
/ktorrent-24.05.1.tar.xz
/ktorrent-24.05.2.tar.xz
/ktorrent-24.08.0.tar.xz
/ktorrent-24.08.1.tar.xz
/ktorrent-24.08.2.tar.xz
/ktorrent-24.08.3.tar.xz
/ktorrent-24.11.80.tar.xz
/ktorrent-24.11.90.tar.xz
/ktorrent-24.12.0.tar.xz
/ktorrent-24.12.1.tar.xz
/ktorrent-24.12.2.tar.xz
/ktorrent-24.12.3.tar.xz
/ktorrent-25.03.80.tar.xz
/ktorrent-25.04.0.tar.xz
/ktorrent-25.04.1.tar.xz
/ktorrent-25.04.2.tar.xz
/ktorrent-25.04.3.tar.xz
/ktorrent-25.07.80.tar.xz
/ktorrent-25.07.90.tar.xz
/ktorrent-25.08.0.tar.xz
/ktorrent-25.08.1.tar.xz
/ktorrent-25.08.2.tar.xz
/ktorrent-25.08.3.tar.xz
/ktorrent-25.11.80.tar.xz
/ktorrent-25.11.90.tar.xz
/ktorrent-25.12.0.tar.xz
/ktorrent-25.12.1.tar.xz
/ktorrent-25.12.2.tar.xz
/ktorrent-25.12.3.tar.xz
