/libcacard-2.5.0.tar.xz
/libcacard-2.5.1.tar.xz
/libcacard-2.5.2.tar.xz
/libcacard-2.5.3.tar.xz
/libcacard-2.6.0.tar.xz
/libcacard-2.6.1.tar.xz
/libcacard-2.7.0.tar.xz
/libcacard-2.7.0.tar.xz.asc
/gpgkey-15B5C33D.gpg
/libcacard-2.8.0.tar.xz
/libcacard-2.8.0.tar.xz.asc
/gpgkey-E37A484F.gpg
/libcacard-20210801.tar.xz
/libcacard-2.8.1.tar.xz
/libcacard-2.8.1.tar.xz.sig
/gpgkey-A3DDE969.gpg
/libcacard-2.8.2.tar.xz.sha256sum
/libcacard-2.8.2.tar.xz
