/results_*/
/*.src.rpm

/sequoia-sq-0.25.0.crate
/sequoia-sq-0.26.0.crate
/sequoia-sq-0.32.0.crate
/sequoia-sq-0.33.0.crate
/sequoia-sq-0.34.0.crate
/sequoia-sq-0.35.0.crate
/sequoia-sq-0.36.0.crate
/sequoia-sq-0.37.0.crate
/sequoia-sq-0.38.0.crate
/sequoia-sq-0.39.0.crate
/sequoia-sq-0.40.0.crate
/sequoia-sq-1.0.0.crate
/sequoia-sq-1.1.0.crate
/sequoia-sq-1.2.0.crate
/sequoia-sq-1.3.0.crate
/sequoia-sq-1.3.1.crate
