[Desktop Entry]
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,application/vnd.ms-tnef
Name=tnef tools
Comment=tnef archive tool menu
Icon=archive-extract
Actions=tnefExtractToSubfolder;

[Desktop Action tnefExtractToSubfolder]
Name=Extract TNEF (email attachment) Archive
Exec=tnef.sh "%f"
Icon=archive-extract
