[Desktop Entry]
Encoding=UTF-8
Name=Pipepanic 
Comment=A pipe connecting game
Exec=pipepanic
Icon=pipepanic
Terminal=false
Type=Application
Categories=Game;LogicGame;

