/.*.log
/*.src.rpm
/pulseaudio-*.tar.xz
/pulseaudio-*.tar.xz.md5
/pulseaudio-*.tar.xz.sha1
/pulseaudio-12.2.tar.xz.sha256
/pulseaudio-12.99.1.tar.xz.sha256
/pulseaudio-12.99.2.tar.xz.sha256
/pulseaudio-12.99.3.tar.xz.sha256
/pulseaudio-13.0.tar.xz.sha256
/pulseaudio-13.99.1.tar.xz.sha256
/pulseaudio-13.99.2.tar.xz.sha256
/pulseaudio-13.99.3.tar.xz.sha256
/pulseaudio-14.0.tar.xz.sha256
/pulseaudio-14.1.tar.xz.sha256
/pulseaudio-14.2.tar.xz.sha256
/pulseaudio-15.0.tar.xz.sha256sum
/pulseaudio-16.1.tar.xz.sha256sum
/pulseaudio-17.0.tar.xz.sha256sum
