/DateTime-TimeZone-[0-9.]*.tar.gz
/tzdata2017b.tar.gz
/tzdata2017c.tar.gz
/tzdata2018b.tar.gz
/tzdata2018c.tar.gz
/tzdata2018d.tar.gz
/tzdata2018e.tar.gz
/tzdata2018f.tar.gz
/tzdata2018g.tar.gz
/tzdata2018i.tar.gz
/tzdata2019a.tar.gz
/tzdata2019b.tar.gz
/tzdata2019c.tar.gz
/tzdata2020a.tar.gz
/tzdata2020b.tar.gz
/tzdata2020c.tar.gz
/tzdata2020d.tar.gz
/tzdata2020e.tar.gz
/tzdata2021a.tar.gz
/tzdata2021b.tar.gz
/tzdata2021c.tar.gz
/tzdata2021d.tar.gz
/tzdata2021e.tar.gz
/tzdata2022a.tar.gz
/tzdata2022b.tar.gz
/tzdata2022d.tar.gz
/tzdata2022e.tar.gz
/tzdata2022f.tar.gz
/tzdata2022g.tar.gz
/tzdata2023a.tar.gz
/tzdata2023b.tar.gz
/tzdata2023c.tar.gz
/tzdata2023d.tar.gz
/tzdata2024a.tar.gz
/tzdata2024b.tar.gz
/tzdata2025a.tar.gz
/tzdata2025b.tar.gz
/tzdata2025c.tar.gz
/tzdata2026a.tar.gz
