# remove all tarballs kept in most packages but keep tarballs only for oreon-specific packages
oreon-11-rp1/**/*.tar.gz
oreon-11-rp1/**/*.tar.bz2
oreon-11-rp1/**/*.tar.xz
oreon-11-rp1/**/*.tar.Z
oreon-11-rp1/**/*.tgz
oreon-11-rp1/**/*.txz
oreon-11-rp1/**/*.zip
oreon-11-rp1/**/*.zst
oreon-11-rp1/**/*.gem
oreon-11-rp1/**/*.whl
oreon-11-rp1/**/*.deb
oreon-11-rp1/**/*.rpm
oreon-11-rp1/**/*.srpm

!oreon-11-rp1/oreon-*/
!oreon-11-rp1/centrio-*/
!oreon-11-rp1/or11-*/
!oreon-11-rp1/oreon-/**
!oreon-11-rp1/centrio-/**
!oreon-11-rp1/or11-/**
!oreon-11-rp1/oreon-**/*.tar.gz
!oreon-11-rp1/oreon-**/*.tar.bz2
!oreon-11-rp1/oreon-**/*.tar.xz
!oreon-11-rp1/oreon-**/*.tar.Z
!oreon-11-rp1/oreon-**/*.tgz
!oreon-11-rp1/oreon-**/*.txz
!oreon-11-rp1/oreon-**/*.zip
!oreon-11-rp1/oreon-**/*.zst
!oreon-11-rp1/centrio-**/*.tar.gz
!oreon-11-rp1/centrio-**/*.tar.bz2
!oreon-11-rp1/centrio-**/*.tar.xz
!oreon-11-rp1/centrio-**/*.tar.Z
!oreon-11-rp1/centrio-**/*.tgz
!oreon-11-rp1/centrio-**/*.txz
!oreon-11-rp1/centrio-**/*.zip
!oreon-11-rp1/centrio-**/*.zst
!oreon-11-rp1/or11-**/*.tar.gz
!oreon-11-rp1/or11-**/*.tar.bz2
!oreon-11-rp1/or11-**/*.tar.xz
!oreon-11-rp1/or11-**/*.tar.Z
!oreon-11-rp1/or11-**/*.tgz
!oreon-11-rp1/or11-**/*.txz
!oreon-11-rp1/or11-**/*.zip
!oreon-11-rp1/or11-**/*.zst

!oreon-11-rp1/hyphen-mi/hunspell-hyphen-mi-0.1.20080630-beta.tar.gz
!oreon-11-rp1/javapackages-bootstrap/javapackages-bootstrap-vendor-archives.tar.zst.part-00
!oreon-11-rp1/javapackages-bootstrap/javapackages-bootstrap-vendor-archives.tar.zst.part-01
!oreon-11-rp1/javapackages-bootstrap/javapackages-bootstrap-vendor-archives.tar.zst.part-02
!oreon-11-rp1/mingw-gcc/gcc-16.1.1-20260501.tar.xz
!oreon-11-rp1/nodejs20/packaging-scripts.tar.gz
!oreon-11-rp1/nodejs22/packaging-scripts.tar.gz
!oreon-11-rp1/nodejs24/packaging-scripts.tar.gz

.vscode/
