i386/
i686/
x86_64/
ppc/
ppc64/
ia64/
mips/
arm*/
noarch/
.project
*.src.rpm
.build*.log
/mstflint-1.4/
/mstflint-1.4-1.18.g1adcfbf.tar.gz
/mstflint-1.4-1.19.redhat.tar.gz
/mstflint-3.0-0.5.gff93670.tar.gz
/mstflint-3.0/
/mstflint-3.0-0.6.g6961daa.tar.gz
/mstflint-4.1.0-1.46.gb1cdaf7.tar.gz
/mstflint-4.1.0/
/mstflint-4.3.0-1.49.g9b9af70.tar.gz
/mstflint-4.4.0-1.12.gd1edd58.tar.gz
/mstflint-4.6.0.tar.gz
/mstflint-4.8.0.tar.gz
/mstflint-4.10.0.tar.gz
/mstflint-4.11.0-2.tar.gz
/mstflint-4.11.0-3.tar.gz
/mstflint-4.11.0-4.tar.gz
/mstflint-4.13.0-1.tar.gz
/mstflint-4.13.1-1.tar.gz
/mstflint-4.13.3-1.tar.gz
/mstflint-4.13.3-2.tar.gz
/mstflint-4.14.0-1.tar.gz
/mstflint-4.14.0-3.tar.gz
/mstflint-4.15.0-1.tar.gz
/mstflint-4.16.0-1.tar.gz
/mstflint-4.16.0-2.tar.gz
/mstflint-4.17.0-1.tar.gz
/mstflint-4.18.0-1.tar.gz
/mstflint-2b022989e5f22875284f3fbaccf67361ef5a848d.tar.gz
/mstflint-4.20.0-1.tar.gz
/mstflint-4.20.1-1.tar.gz
/mstflint-4.21.0-1.tar.gz
/mstflint-4.23.0-1.tar.gz
/mstflint-4.24.0-1.tar.gz
/mstflint-4.25.0-1.tar.gz
/mstflint-4.31.0-1.tar.gz
/mstflint-bebc0dfd55ca38e20a10a27f84dc26d9665bfdd3.tar.gz
/mstflint-48a145409b058b275cbcc1fe8edd5581932c5eb0.tar.gz
/mstflint-4.34.0-2.tar.gz
