/iptraf-ng-1.1.0.tar.gz
/iptraf-ng-1.1.1.tar.gz
/iptraf-ng-1.1.2.rc0.tar.gz
/iptraf-ng-1.1.2.tar.gz
/iptraf-ng-1.1.3.1.tar.gz
/iptraf-ng-1.1.4.tar.gz
/0001-fix-segfault-in-adding-interface.patch
/iptraf-ng-tmpfiles.conf
/iptraf-ng-logrotate.conf
/0001-BUGFIX-fix-Floating-point-exception-in-tcplog_flowra.patch
/0002-Makefile-add-Werror-format-security.patch
/0003-fix-segfault-in-adding-interface.patch
/v1.1.4.tar.gz
/v1.2.1.tar.gz
/v1.2.2.tar.gz
