/PyQt5_sip-12.8.1.tar.gz
/PyQt5_sip-12.9.0.tar.gz
/PyQt5_sip-12.9.1.tar.gz
/PyQt5_sip-12.11.0.tar.gz
/PyQt5_sip-12.11.1.tar.gz
/PyQt5_sip-12.12.1.tar.gz
/PyQt5_sip-12.12.2.tar.gz
/PyQt5_sip-12.13.0.tar.gz
/PyQt5_sip-12.15.0.tar.gz
/pyqt5_sip-12.16.1.tar.gz
/pyqt5_sip-12.17.0.tar.gz
/pyqt5_sip-12.17.1.tar.gz
