/results_*
/*.src.rpm

/v1.1-alpha.tar.gz
/jctools-1.2.1.tar.gz
/jctools-2.0.2.tar.gz
/jctools-2.1.2.tar.gz
/JCTools-3.1.0.tar.gz
/JCTools-3.2.0.tar.gz
/JCTools-3.3.0.tar.gz
/JCTools-4.0.1.tar.gz
/JCTools-4.0.2.tar.gz
/JCTools-4.0.5.tar.gz
