config /config 41
1606368705 'timeline-plaintext' value '1'
config /config 44
1606369015 'project-name' value 'fossil-doc'
config /config 57
1606369069 'index-page' value '/doc/trunk/www/index.wiki'
config /config 34
1606369257 'binary-glob' value '*'
config /config 34
1606368705 'hash-policy' value '2'
