/hamcrest-all-1.3.pom
/hamcrest-core-1.3.pom
/hamcrest-generator-1.3.pom
/hamcrest-integration-1.3.pom
/hamcrest-library-1.3.pom
/hamcrest-parent-1.3.pom
/hamcrest-text-1.3.pom
/hamcrest-*.tgz
/hamcrest-*/
/.project
/*.src.rpm
/noarch
/.build-*.log
/hamcrest-java-1.3.tar.gz
/hamcrest-2.1.tar.gz
/hamcrest-2.1.pom
/hamcrest-2.2~rc1.tar.gz
/hamcrest-2.2-rc1.pom
/hamcrest-2.2.tar.gz
/hamcrest-2.2.pom
/hamcrest-3.0.tar.gz
/hamcrest-3.0.pom
