/http-client-0.5.7.0.tar.gz
/http-client-0.5.7.1.tar.gz
/http-client-0.5.13.1.tar.gz
/http-client-0.5.14.tar.gz
/http-client-0.6.4.tar.gz
/http-client-0.6.4.1.tar.gz
/http-client-0.7.13.1.tar.gz
/http-client-0.7.17.tar.gz
/http-client-0.7.19.tar.gz
