/results_*
/*.src.rpm

/qdox-1.6.1-src.tar.gz
/qdox-1.9.2-src.tar.gz
/qdox-1.10.1.tar.bz2
/qdox-1.11-project.tar.bz2
/qdox-1.12-project.tar.bz2
/qdox-1.12.1-project.tar.bz2
/qdox-2.0-M2-project.tar.gz
/qdox-2.0-M3-project.tar.gz
/qdox-2.0-M5-project.tar.gz
/qdox-2.0-M7-project.tar.gz
/qdox-2.0-M9-project.tar.gz
/qdox-2.0-M9.tar.gz
/qdox-2.0~M10.tar.gz
/qdox-2.0.0.tar.gz
/qdox-2.0.3.tar.gz
/qdox-2.1.0.tar.gz
