/Python-3.7.3.tar.xz
/Python-3.7.4.tar.xz
/Python-3.8.0b4.tar.xz
/Python-3.8.0rc1.tar.xz
/Python-3.8.0.tar.xz
/Python-3.8.1.tar.xz
/Python-3.8.2.tar.xz
/Python-3.8.3.tar.xz
/Python-3.9.0b1.tar.xz
/Python-3.9.0b3.tar.xz
/Python-3.9.0b4.tar.xz
/Python-3.9.0b5.tar.xz
/Python-3.9.0rc1.tar.xz
/Python-3.9.0rc2.tar.xz
/Python-3.9.0.tar.xz
/Python-3.9.1.tar.xz
/Python-3.9.2.tar.xz
/Python-3.9.3.tar.xz
/Python-3.9.4.tar.xz
/Python-3.9.5.tar.xz
/Python-3.10.0b2.tar.xz
/Python-3.10.0b3.tar.xz
/Python-3.10.0b4.tar.xz
/Python-3.10.0rc1.tar.xz
/Python-3.10.0rc2.tar.xz
/Python-3.10.0.tar.xz
/Python-3.10.1.tar.xz
/Python-3.10.2.tar.xz
/Python-3.10.3.tar.xz
/Python-3.10.4.tar.xz
/Python-3.10.5.tar.xz
/Python-3.10.6.tar.xz
/Python-3.10.7.tar.xz
/Python-3.11.0.tar.xz
/Python-3.11.1.tar.xz
/Python-3.11.2.tar.xz
/Python-3.11.3.tar.xz
/Python-3.11.4.tar.xz
/Python-3.11.5.tar.xz
/Python-3.11.6.tar.xz
/Python-3.11.8.tar.xz
/Python-3.11.9.tar.xz
/Python-3.11.10.tar.xz
/Python-3.11.11.tar.xz
/Python-3.11.12.tar.xz
/Python-3.11.13.tar.xz
/Python-3.11.14.tar.xz
/Python-3.11.15.tar.xz
