## <summary>policy for crossfire</summary>

########################################
## <summary>
##	Execute a domain transition to run crossfire.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`crossfire_domtrans',`
	gen_require(`
		type crossfire_t, crossfire_exec_t;
	')

	domain_auto_trans($1,crossfire_exec_t,crossfire_t)

	allow $1 crossfire_t:fd use;
	allow crossfire_t $1:fd use;
	allow crossfire_t $1:fifo_file rw_file_perms;
	allow crossfire_t $1:process sigchld;
')
