[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Development;Profiling;Java;
Version=1.0
Name=Java Runtime Decompiler Hex editor
Exec=java-runtime-decompiler-hex
Terminal=false
Name[en_US]=jrd-hex.desktop
