[Desktop Entry]
Encoding=UTF-8
Name=FVWM
Comment=ICCCM-compliant multiple virtual desktop window manager
Exec=fvwm
Terminal=False

[Window Manager]
SessionManaged=true
