/v1.8.tar.gz
/v1.9.tar.gz
/libdeflate-1.9.tar.gz
/libdeflate-1.10.tar.gz
/libdeflate-1.11.tar.gz
/libdeflate-1.12.tar.gz
/libdeflate-1.13.tar.gz
/libdeflate-1.14.tar.gz
/libdeflate-1.15.tar.gz
/libdeflate-1.16.tar.gz
/libdeflate-1.17.tar.gz
/libdeflate-1.18.tar.gz
/libdeflate-1.19.tar.gz
/libdeflate-1.20.tar.gz
/libdeflate-1.21.tar.gz
/libdeflate-1.22.tar.gz
/libdeflate-1.23.tar.gz
/libdeflate-1.24.tar.gz
/libdeflate-1.25.tar.gz
