[Desktop Entry]
Encoding=UTF-8
Name=ImageJ
GenericName=Image Editor                                       
GenericName[ar]=محرر صور                                       
GenericName[be]=Рэдактар відарысаў                             
GenericName[bg]=Редактор на изображения                        
GenericName[ca]=Editor d'imatges                               
GenericName[ca@valencia]=Editor d'imatges                      
GenericName[cs]=Editor obrázků                                 
GenericName[da]=Billedredigering                               
GenericName[de]=Bildeditor                                     
GenericName[dz]=གཟགས་བརན་ ཞན་དག་པ།                             
GenericName[el]=Επεξεργαστής εικόνων                           
GenericName[en_CA]=Image Editor                                
GenericName[en_GB]=Image Editor                                
GenericName[eo]=Bilada Redaktilo                               
GenericName[es]=Editor de imagen                               
GenericName[et]=Pildiredaktor                                  
GenericName[eu]=Irudi-editorea                                 
GenericName[fa]=ویرایشگر تصویر                                 
GenericName[fi]=Kuvankäsittely                                 
GenericName[fr]=Éditeur d'image                                
GenericName[gl]=Editor de imaxes                               
GenericName[gu]=ચિતર સપાદક                                     
GenericName[hu]=Képszerkesztő                                  
GenericName[is]=Myndvinnsluforrit                              
GenericName[it]=Editor immagine                                
GenericName[ja]=画像エディタ                                   
GenericName[ka]=გამოსახულებების რედაქტორი                      
GenericName[km]=កមមវធនពនធរបភាព                                 
GenericName[kn]=ಚತರ ಸಂಪಾದಕ                                     
GenericName[ko]=이미지 편집기                                  
GenericName[lt]=Paveikslėlių rengyklė                          
GenericName[lv]=Attēla redaktors                               
GenericName[mk]=Уредник за слики                               
GenericName[mr]=परतिमा सपादक                                   
GenericName[nb]=Bildebehandler                                 
GenericName[ne]=छवि समपादक                                     
GenericName[nl]=Afbeeldingsbewerker                            
GenericName[nn]=Biletbehandlar                                 
GenericName[or]=ପରତଛବ ସମପାଦକ                                   
GenericName[pa]=ਚਿਤਰ ਐਡੀਟਰ                                     
GenericName[pl]=Edytor obrazu                                  
GenericName[pt]=Editor de Imagens                              
GenericName[pt_BR]=Editor de Imagens                           
GenericName[ro]=Editor de imagine                              
GenericName[ru]=Редактор изображений                           
GenericName[sk]=Editor obrázkov                                
GenericName[sl]=Urejevalnik slik                               
GenericName[sr]=Обрада слика                                   
GenericName[sr@latin]=Obrada slika                             
GenericName[sv]=Bildredigerare                                 
GenericName[ta]=பிமப திருததி                                   
GenericName[th]=ตวแกไขภาพ                                      
GenericName[tr]=Resim Düzenleyici                              
GenericName[tt]=Sürät Tözätkeç                                 
GenericName[uk]=Редактор зображень                             
GenericName[vi]=Bộ biên soạn ảnh                               
GenericName[xh]=UmHleli woMfanekiso                            
GenericName[zh_CN]=图像编辑器                                  
GenericName[zh_HK]=圖片編輯器                                  
GenericName[zh_TW]=圖片編輯器    
Comment=Image Processing and Analysis in Java
Exec=imagej %f
TryExec=imagej
Icon=/usr/share/pixmaps/imagej.png
Terminal=false
Type=Application
Categories=Application;Graphics;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjeg;image/png;image/tiff;image/x-bmp;image/x-fits;image/x-png;image/x-psd;image/x-xbitmap;application/dicom;
