/results_*
/*.src.rpm

/plexus-languages-0.9.3.tar.gz
/LICENSE-2.0.txt
/plexus-languages-0.9.10.tar.gz
/plexus-languages-1.0.3.tar.gz
/plexus-languages-1.0.5.tar.gz
/plexus-languages-1.0.6.tar.gz
/plexus-languages-1.1.1.tar.gz
/plexus-languages-1.1.2.tar.gz
/plexus-languages-1.2.0.tar.gz
