/libnma-1.8.26.tar.xz
/libnma-1.8.28.tar.xz
/libnma-1.8.30.tar.xz
/libnma-1.8.32.tar.xz
/libnma-1.8.34.tar.xz
/libnma-1.8.38.tar.xz
/libnma-1.8.40.tar.xz
/libnma-1.10.0.tar.xz
/libnma-1.10.2.tar.xz
/libnma-1.10.4.tar.xz
/libnma-1.10.6.tar.xz
