/results_*
/*.src.rpm

/KEYS
/apache-log4j-1.2.16.tar.gz
/log4j-1.2.17.tar.gz
/apache-log4j-2.0-rc1-src.tar.gz
/apache-log4j-2.0-src.tar.gz
/apache-log4j-2.2-src.tar.gz
/apache-log4j-2.3-src.tar.gz
/apache-log4j-2.5-src.tar.gz
/apache-log4j-2.6.1-src.tar.gz
/apache-log4j-2.7-src.tar.gz
/apache-log4j-2.8.1-src.tar.gz
/apache-log4j-2.8.2-src.tar.gz
/apache-log4j-2.9.0-src.tar.gz
/apache-log4j-2.9.1-src.tar.gz
/apache-log4j-2.11.1-src.tar.gz
/apache-log4j-2.12.1-src.tar.gz
/apache-log4j-2.13.0-src.tar.gz
/apache-log4j-2.13.1-src.tar.gz
/apache-log4j-2.13.3-src.tar.gz
/apache-log4j-2.14.1-src.tar.gz
/apache-log4j-2.15.0-src.tar.gz
/apache-log4j-2.16.0-src.tar.gz
/apache-log4j-2.17.0-src.tar.gz
/apache-log4j-2.17.1-src.tar.gz
/apache-log4j-2.17.1-src.tar.gz.asc
/apache-log4j-2.17.2-src.tar.gz
/apache-log4j-2.17.2-src.tar.gz.asc
/log4j-2.17.2.tar.gz
/log4j-2.20.0.tar.gz
