/results_*
/*.src.rpm

/jackson-parent-2.4.1.tar.gz
/jackson-parent-2.5.tar.gz
/jackson-parent-2.6.2.tar.gz
/jackson-parent-2.7-1.tar.gz
/jackson-parent-2.9.1.tar.gz
/jackson-parent-2.9.1.2.tar.gz
/jackson-parent-2.10.tar.gz
/jackson-parent-2.11.tar.gz
/jackson-parent-2.14.tar.gz
/jackson-parent-2.15.tar.gz
/jackson-parent-2.16.tar.gz
/LICENSE-2.0.txt
/jackson-parent-2.17.tar.gz
/jackson-parent-2.18.tar.gz
/jackson-parent-2.18.1.tar.gz
