/results_*
/*.src.rpm

/commons-compress-1.0-src.tar.gz
/commons-compress-1.1-src.tar.gz
/commons-compress-1.2-src.tar.gz
/commons-compress-1.3-src.tar.gz
/commons-compress-1.4-src.tar.gz
/commons-compress-1.4.1-src.tar.gz
/commons-compress-1.5-src.tar.gz
/commons-compress-1.6-src.tar.gz
/commons-compress-1.7-src.tar.gz
/commons-compress-1.8-src.tar.gz
/commons-compress-1.8.1-src.tar.gz
/commons-compress-1.9-src.tar.gz
/commons-compress-1.10-SNAPSHOT.tar.xz
/commons-compress-1.11-src.tar.gz
/commons-compress-1.12-src.tar.gz
/commons-compress-1.13-src.tar.gz
/commons-compress-1.14-src.tar.gz
/commons-compress-1.15-src.tar.gz
/commons-compress-1.16.1-src.tar.gz
/commons-compress-1.17-src.tar.gz
/commons-compress-1.18-src.tar.gz
/commons-compress-1.19-src.tar.gz
/commons-compress-1.20-src.tar.gz
/commons-compress-1.21-src.tar.gz
/commons-compress-1.25.0-src.tar.gz
/commons-compress-1.27.1-src.tar.gz
/commons-compress-1.28.0-src.tar.gz
