gettext-0.17.tar.gz
/gettext-0.18.1.1.tar.gz
/gettext-0.18.2.tar.gz
/gettext-0.18.2.1.tar.gz
/gettext-0.18.3.tar.gz
/gettext-0.18.3.1.tar.gz
/gettext-0.18.3.2.tar.gz
/gettext-0.19.4.tar.gz
/gettext-0.19.7.tar.gz
/gettext-0.20.1.tar.xz
/gettext-0.20.2.tar.xz
/gettext-0.21.tar.xz
/gettext-0.21.1.tar.xz
/gettext-0.22.tar.xz
/gettext-0.22.4.tar.xz
/gettext-0.22.5.tar.xz
/gettext-0.23.1.tar.xz
/gettext-0.23.tar.xz
/gettext-0.24.tar.xz
/gettext-0.25.tar.xz
/gettext-0.25.1.tar.xz
/gettext-0.26.tar.xz
