/baloo-widgets-18.04.0.tar.xz
/baloo-widgets-18.04.1.tar.xz
/baloo-widgets-18.04.2.tar.xz
/baloo-widgets-18.04.3.tar.xz
/baloo-widgets-18.08.0.tar.xz
/baloo-widgets-18.08.1.tar.xz
/baloo-widgets-18.08.2.tar.xz
/baloo-widgets-18.08.3.tar.xz
/baloo-widgets-18.12.0.tar.xz
/baloo-widgets-18.12.1.tar.xz
/baloo-widgets-18.12.2.tar.xz
/baloo-widgets-18.12.3.tar.xz
/baloo-widgets-19.04.1.tar.xz
/baloo-widgets-19.04.2.tar.xz
/baloo-widgets-19.04.3.tar.xz
/baloo-widgets-19.08.0.tar.xz
/baloo-widgets-19.08.1.tar.xz
/baloo-widgets-19.08.2.tar.xz
/baloo-widgets-19.08.3.tar.xz
/baloo-widgets-19.12.1.tar.xz
/baloo-widgets-19.12.2.tar.xz
/baloo-widgets-19.12.3.tar.xz
/baloo-widgets-20.04.0.tar.xz
/baloo-widgets-20.04.1.tar.xz
/baloo-widgets-20.04.2.tar.xz
/baloo-widgets-20.04.3.tar.xz
/baloo-widgets-20.08.0.tar.xz
/baloo-widgets-20.08.1.tar.xz
/baloo-widgets-20.08.3.tar.xz
/baloo-widgets-20.12.1.tar.xz
/baloo-widgets-20.12.2.tar.xz
/baloo-widgets-20.12.3.tar.xz
/baloo-widgets-21.04.0.tar.xz
/baloo-widgets-21.04.1.tar.xz
/baloo-widgets-21.04.2.tar.xz
/baloo-widgets-21.04.3.tar.xz
/baloo-widgets-21.08.0.tar.xz
/baloo-widgets-21.08.1.tar.xz
/baloo-widgets-21.08.2.tar.xz
/baloo-widgets-21.08.3.tar.xz
/baloo-widgets-21.12.0.tar.xz
/baloo-widgets-21.12.1.tar.xz
/baloo-widgets-21.12.2.tar.xz
/baloo-widgets-21.12.3.tar.xz
/baloo-widgets-22.04.0.tar.xz
/baloo-widgets-22.04.0.tar.xz
/baloo-widgets-22.04.1.tar.xz
/baloo-widgets-22.04.1.tar.xz
/baloo-widgets-22.04.3.tar.xz
/baloo-widgets-22.08.0.tar.xz
/baloo-widgets-22.08.1.tar.xz
/baloo-widgets-22.08.2.tar.xz
/baloo-widgets-22.08.3.tar.xz
/baloo-widgets-22.12.0.tar.xz
/baloo-widgets-22.12.1.tar.xz
/baloo-widgets-22.12.2.tar.xz
/baloo-widgets-22.12.3.tar.xz
/baloo-widgets-23.03.80.tar.xz
/baloo-widgets-23.03.90.tar.xz
/baloo-widgets-23.04.0.tar.xz
/baloo-widgets-23.04.1.tar.xz
/baloo-widgets-23.04.2.tar.xz
/baloo-widgets-23.04.3.tar.xz
/baloo-widgets-23.08.0.tar.xz
/baloo-widgets-23.08.1.tar.xz
/baloo-widgets-23.08.2.tar.xz
/baloo-widgets-24.01.75.tar.xz
/baloo-widgets-24.01.80.tar.xz
/baloo-widgets-24.01.85.tar.xz
/baloo-widgets-24.01.90.tar.xz
/baloo-widgets-24.01.95.tar.xz
/baloo-widgets-24.02.0.tar.xz
/baloo-widgets-24.02.1.tar.xz
/baloo-widgets-24.02.2.tar.xz
/baloo-widgets-24.05.0.tar.xz
/baloo-widgets-24.05.1.tar.xz
/baloo-widgets-24.05.2.tar.xz
/baloo-widgets-24.08.0.tar.xz
/baloo-widgets-24.08.1.tar.xz
/baloo-widgets-24.08.2.tar.xz
/baloo-widgets-24.08.3.tar.xz
/baloo-widgets-24.11.80.tar.xz
/baloo-widgets-24.11.90.tar.xz
/baloo-widgets-24.12.0.tar.xz
/baloo-widgets-24.12.1.tar.xz
/baloo-widgets-24.12.2.tar.xz
/baloo-widgets-24.12.3.tar.xz
/baloo-widgets-25.03.80.tar.xz
/baloo-widgets-25.04.0.tar.xz
/baloo-widgets-25.04.1.tar.xz
/baloo-widgets-25.04.2.tar.xz
/baloo-widgets-25.04.3.tar.xz
/baloo-widgets-25.07.80.tar.xz
/baloo-widgets-25.07.90.tar.xz
/baloo-widgets-25.08.0.tar.xz
/baloo-widgets-25.08.1.tar.xz
/baloo-widgets-25.08.2.tar.xz
/baloo-widgets-25.08.3.tar.xz
/baloo-widgets-25.11.80.tar.xz
/baloo-widgets-25.11.90.tar.xz
/baloo-widgets-25.12.0.tar.xz
/baloo-widgets-25.12.1.tar.xz
/baloo-widgets-25.12.2.tar.xz
/baloo-widgets-25.12.3.tar.xz
/baloo-widgets-26.03.80.tar.xz
