[Unit]
Description=RADIUS proxy with RadSec support
After=syslog.target network-online.target
Documentation=man:radsecproxy(1)

[Service]
Type=forking
User=radsecproxy
Group=radsecproxy
ExecStart=/usr/sbin/radsecproxy -i /run/radsecproxy/radsecproxy.pid
ExecReload=/bin/kill -HUP $MAINPID
ProtectSystem=full
ProtectHome=true
PrivateDevices=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
