/results_*
/*.src.rpm

/maven-resources-plugin-2.2.tar.gz
/maven-resources-plugin-2.4.3.tar.gz
/maven-resources-plugin-2.5.tar.gz
/maven-resources-plugin-2.6-source-release.zip
/maven-resources-plugin-2.7-source-release.zip
/maven-resources-plugin-3.0.0-source-release.zip
/maven-resources-plugin-3.0.1-source-release.zip
/maven-resources-plugin-3.0.2-source-release.zip
/maven-resources-plugin-3.1.0-source-release.zip
/maven-resources-plugin-3.2.0-source-release.zip
/maven-resources-plugin-3.3.1-source-release.zip
