/regex-tdfa-1.1.4.tar.gz
/regex-tdfa-1.1.6.tar.gz
/regex-tdfa-1.1.7.tar.gz
/regex-tdfa-1.1.8.tar.gz
/regex-tdfa-1.2.0.tar.gz
/regex-tdfa-1.2.2.tar.gz
/regex-tdfa-1.2.3.1.tar.gz
/regex-tdfa-1.2.3.2.tar.gz
/regex-tdfa-1.3.1.0.tar.gz
/regex-tdfa-1.3.1.1.tar.gz
/regex-tdfa-1.3.1.2.tar.gz
/regex-tdfa-1.3.2.tar.gz
/regex-tdfa-1.3.2.1.tar.gz
/regex-tdfa-1.3.2.2.tar.gz
/regex-tdfa-1.3.2.3.tar.gz
/regex-tdfa-1.3.2.5.tar.gz
