[Unit]
Description=Netplug Non-Static Network Interface Manager
Documentation=man:netplugd(8)
After=network.target

[Service]
ExecStart=/sbin/netplugd -F

[Install]
WantedBy=multi-user.target
