/calligra-3.1.0.tar.xz
/calligra-3.1.90.tar.xz
/calligra-3.2.0.tar.xz
/calligra-3.2.1.tar.xz
/calligra-4.0.1.tar.xz
/calligra-24.11.80.tar.xz
/calligra-24.11.90.tar.xz
/calligra-24.12.0.tar.xz
/calligra-24.12.1.tar.xz
/calligra-24.12.2.tar.xz
/calligra-24.12.3.tar.xz
/calligra-25.03.80.tar.xz
/calligra-25.04.0.tar.xz
/calligra-25.04.1.tar.xz
/calligra-25.04.2.tar.xz
/calligra-25.04.3.tar.xz
/calligra-25.07.80.tar.xz
/calligra-25.07.90.tar.xz
/calligra-25.08.0.tar.xz
/calligra-25.08.1.tar.xz
/calligra-25.08.2.tar.xz
/calligra-25.08.3.tar.xz
/calligra-25.11.80.tar.xz
/calligra-25.11.90.tar.xz
/calligra-25.12.0.tar.xz
/calligra-25.12.1.tar.xz
/calligra-25.12.2.tar.xz
/calligra-25.12.3.tar.xz
/calligra-26.03.80.tar.xz
