/case-insensitive-0.2.0.2.tar.gz
/case-insensitive-0.3.0.1.tar.gz
/case-insensitive-0.4.0.1.tar.gz
/case-insensitive-0.4.0.3.tar.gz
/case-insensitive-1.0.tar.gz
/case-insensitive-1.0.0.1.tar.gz
/case-insensitive-1.1.0.3.tar.gz
/case-insensitive-1.2.0.4.tar.gz
/case-insensitive-1.2.0.5.tar.gz
/case-insensitive-1.2.0.6.tar.gz
/case-insensitive-1.2.0.8.tar.gz
/case-insensitive-1.2.0.10.tar.gz
/case-insensitive-1.2.0.11.tar.gz
/case-insensitive-1.2.1.0.tar.gz
