/libepoxy-*.tar.gz
/v*.tar.gz
/libepoxy-1.4.3.tar.xz
/libepoxy-1.5.0.tar.xz
/libepoxy-1.5.1.tar.xz
/libepoxy-1.5.2.tar.xz
/libepoxy-1.5.3.tar.xz
/libepoxy-1.5.4.tar.xz
/libepoxy-1.5.5.tar.xz
/libepoxy-1.5.6.tar.xz
/libepoxy-1.5.7.tar.xz
/libepoxy-1.5.8.tar.xz
/libepoxy-1.5.9.tar.xz
/libepoxy-1.5.10.tar.xz
