/francis-1.1.0.tar.xz
/francis-24.05.0.tar.xz
/francis-24.05.2.tar.xz
/francis-24.08.0.tar.xz
/francis-24.08.1.tar.xz
/francis-24.08.2.tar.xz
/francis-24.08.3.tar.xz
/francis-24.11.80.tar.xz
/francis-24.11.90.tar.xz
/francis-24.12.0.tar.xz
/francis-24.12.1.tar.xz
/francis-24.12.2.tar.xz
/francis-24.12.3.tar.xz
/francis-25.03.80.tar.xz
/francis-25.04.0.tar.xz
/francis-25.04.1.tar.xz
/francis-25.04.2.tar.xz
/francis-25.04.3.tar.xz
/francis-25.07.80.tar.xz
/francis-25.07.90.tar.xz
/francis-25.08.0.tar.xz
/francis-25.08.1.tar.xz
/francis-25.08.2.tar.xz
/francis-25.08.3.tar.xz
/francis-25.11.80.tar.xz
/francis-25.11.90.tar.xz
/francis-25.12.0.tar.xz
/francis-25.12.1.tar.xz
/francis-25.12.2.tar.xz
/francis-25.12.3.tar.xz
/francis-26.03.80.tar.xz
