/results_*
/*.src.rpm

/maven-assembly-plugin-2.2-beta-5-src.tar.gz
/maven-assembly-plugin-2.2-source-release.zip
/maven-assembly-plugin-2.2.1-source-release.zip
/maven-assembly-plugin-2.2.2-source-release.zip
/maven-assembly-plugin-2.3-source-release.zip
/maven-assembly-plugin-2.4-source-release.zip
/maven-assembly-plugin-2.4.1-source-release.zip
/maven-assembly-plugin-2.5-source-release.zip
/maven-assembly-plugin-2.5.1-source-release.zip
/maven-assembly-plugin-2.5.2-source-release.zip
/maven-assembly-plugin-2.5.3-source-release.zip
/maven-assembly-plugin-2.5.4-source-release.zip
/maven-assembly-plugin-2.5.5-source-release.zip
/maven-assembly-plugin-2.6-source-release.zip
/maven-assembly-plugin-3.0.0-source-release.zip
/maven-assembly-plugin-3.1.0-source-release.zip
/maven-assembly-plugin-3.1.1-source-release.zip
/maven-assembly-plugin-3.2.0-source-release.zip
/maven-assembly-plugin-3.3.0-source-release.zip
/maven-assembly-plugin-3.4.2-source-release.zip
/maven-assembly-plugin-3.6.0.tar.gz
/maven-assembly-plugin-3.6.0-source-release.zip
/maven-assembly-plugin-3.7.1-source-release.zip
