[Desktop Entry]
Exec=kcmshell4 ufw
Icon=security-high
Type=Application
X-DocPath=kcontrol/ufw/index.html
Name=UFW-KDE
GenericName=Firewall
GenericName[bs]=Zaštitni zid
GenericName[ca]=Tallafoc
GenericName[cs]=Firewall
GenericName[de]=Firewall
GenericName[es]=Cortafuegos
GenericName[fi]=Palomuuri
GenericName[fr]=Pare-feu
GenericName[gl]=Devasa
GenericName[hu]=Tűzfal
GenericName[ko]=방화벽
GenericName[nl]=Firewall
GenericName[pl]=Zapora ogniowa
GenericName[pt]='Firewall'
GenericName[pt_BR]=Firewall
GenericName[sk]=Firewall
GenericName[sv]=Brandvägg
GenericName[tr]=Güvenlik Duvarı
GenericName[uk]=Брандмауер
GenericName[x-test]=xxFirewallxx
Comment=Firewall settings
Comment[bs]=Stit postavke
Comment[ca]=Ajustaments del tallafoc
Comment[cs]=Nastavení firewallu
Comment[de]=Firewall-Einstellungen
Comment[es]=Preferencias del cortafuegos
Comment[fi]=Palomuurin asetukset
Comment[fr]=Paramètres du pare-feu
Comment[gl]=Configuración da devasa
Comment[hu]=Tűzfalbeállítások
Comment[ko]=방화벽 설정
Comment[nl]=Firewall-instellingen
Comment[pl]=Ustawienia zapory ogniowej
Comment[pt]=Configuração da 'firewall'
Comment[pt_BR]=Configurações do firewall
Comment[sk]=Nastavenia firewallu
Comment[sv]=Brandväggens inställningar
Comment[tr]=Güvenlik duvarı ayarları
Comment[uk]=Параметри брандмауера
Comment[x-test]=xxFirewall settingsxx
Keywords=ufw,firewall
Keywords[bs]=ufw,stit
Keywords[ca]=ufw,tallafoc
Keywords[cs]=ufw,firewall
Keywords[de]=ufw,firewall
Keywords[es]=ufw,cortafuegos
Keywords[fi]=ufw,palomuuri
Keywords[fr]=ufw, pare-feu
Keywords[gl]=ufw,firewall, devasa
Keywords[hu]=ufw,tűzfal
Keywords[ko]=ufw,firewall,방화벽
Keywords[nl]=ufw,firewall
Keywords[pl]=ufw,firewall,zapora ogniowa
Keywords[pt]=ufw,firewall
Keywords[pt_BR]=ufw,firewall
Keywords[sk]=ufw,firewall
Keywords[sv]=ufw,brandvägg
Keywords[tr]=ufw,güvenlik duvarı
Keywords[uk]=ufw,firewall,брандмауер,файрвол,фаєрвол,мережа,міжмережевий екран
Keywords[x-test]=xxufwxx,xxfirewallxx
Categories=Qt;KDE;System;Settings;Security;
