/libpng-1.5.13.tar.bz2
/libpng-1.5.16.tar.bz2
/libpng-1.5.17.tar.bz2
/libpng-1.5.18.tar.bz2
/libpng-1.5.19.tar.bz2
/libpng-1.5.20.tar.bz2
/libpng-1.5.21.tar.bz2
/libpng-1.5.22.tar.bz2
/libpng-1.5.23.tar.bz2
/libpng-1.5.24.tar.bz2
/libpng-1.5.25.tar.gz
/libpng-1.5.26.tar.gz
/libpng-1.5.27.tar.gz
/libpng-1.5.28.tar.gz
/libpng-1.5.28.tar.xz
/libpng-1.5.29.tar.xz
/libpng-1.5.30.tar.xz
