/spice-gtk-*.tar.bz2
/spice-gtk-0.37.tar.bz2.sig
/victortoso-E37A484F.keyring
/spice-gtk-0.38.tar.xz
/spice-gtk-0.38.tar.xz.sig
/spice-gtk-0.39.tar.xz
/spice-gtk-0.39.tar.xz.sig
/spice-gtk-0.40.tar.xz
/spice-gtk-0.40.tar.xz.sig
/spice-gtk-0.41.tar.xz
/spice-gtk-0.42.tar.xz
