/kstars-17.08.1.tar.xz
/kstars-17.08.2.tar.xz
/kstars-17.08.3.tar.xz
/kstars-2.8.8.tar.xz
/kstars-2.8.9.tar.xz
/kstars-2.9.1.tar.xz
/kstars-2.9.2.tar.xz
/kstars-2.9.3.tar.xz
/kstars-2.9.6.tar.xz
/kstars-2.9.7.tar.xz
/kstars-2.9.8.tar.xz
/kstars-3.2.1.tar.xz
/kstars-3.3.6.tar.xz
/kstars-3.4.2.tar.xz
/kstars-3.4.3.tar.xz
/kstars-3.5.2.tar.xz
/kstars-3.5.7.tar.xz
/kstars-3.5.8.tar.xz
/kstars-3.5.9.tar.xz
/kstars-3.6.2.tar.xz
/kstars-3.6.3.tar.xz
/kstars-3.6.6.tar.xz
/kstars-3.7.1.tar.xz
/kstars-3.7.4.tar.xz
/kstars-3.7.8.tar.xz
/kstars-3.8.0.tar.xz
