[Unit]
Description=Sigul vault server
After=network.target
Documentation=https://pagure.io/sigul

[Service]
ExecStart=/usr/sbin/sigul_server -v
Type=simple

[Install]
WantedBy=multi-user.target
