[Unit]
Description=MogileFS storage
Documentation=man:mogstored(1)
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/mogstored
User=mogstored
ExecStart=/usr/bin/mogstored $OPTIONS

[Install]
WantedBy=multi-user.target
