/results_*
/*.src.rpm

/modello-1.0-alpha-15-src.tar.gz
/modello-1.0.1-src.tar.gz
/modello-1.1-src.tar.gz
/modello-1.4-src.tar.xz
/modello-1.4.1-source-release.zip
/modello-1.5-source-release.zip
/modello-1.6-source-release.zip
/LICENSE-2.0.txt
/modello-1.7-source-release.zip
/modello-1.8.1-source-release.zip
/modello-1.8.2-source-release.zip
/modello-1.8.3-source-release.zip
/modello-1.9.1-source-release.zip
/modello-1.10.0-source-release.zip
/modello-1.11-source-release.zip
/modello-2.0.0-source-release.zip
/modello-2.1.1-source-release.zip
/modello-2.1.2-source-release.zip
