/hexchat-2.9.4.tar.xz
/hexchat-2.9.5.tar.xz
/hexchat-2.9.6.tar.xz
/hexchat-2.9.6.1.tar.xz
/hexchat-2.10.0.tar.xz
/hexchat-2.10.1.tar.xz
/hexchat-2.10.2.tar.xz
/hexchat-2.12.0.tar.xz
/hexchat-2.12.1.tar.xz
/91df075d62606ee295932f1dfefc98187b5ce839.patch
/hexchat-2.12.2.tar.xz
/hexchat-2.12.3.tar.xz
/hexchat-2.12.4.tar.xz
/hexchat-2.12.4-repack.tar.xz
/hexchat-2.14.0.tar.xz
/hexchat-2.14.1.tar.xz
/hexchat-2.14.2.tar.xz
/hexchat-2.14.3.tar.xz
/hexchat-2.16.0.tar.xz
/hexchat-2.16.1.tar.xz
/hexchat-2.16.2.tar.xz
