/results_*
/*.src.rpm

/xalan-j2-notarget.patch
/xalan-j_2_7_0-src-RHsemiCLEAN.tar.gz
/xalan-j_2_7_1-src.tar.gz
/serializer-2.7.1.pom
/xalan-2.7.1.pom
/xsltc-2.7.1.pom
/xalan-j2-2.7.1.tar.gz
/xalan-j2-2.7.2.tar.gz
/xalan-2.7.2.pom
/serializer-2.7.2.pom
/xsltc-2.7.2.pom
/xalan-j2-2.7.3.tar.gz
/xalan-2.7.3.pom
/serializer-2.7.3.pom
