/results_*
/*.src.rpm

/maven-jar-plugin-2.3.tar.xz
/maven-jar-plugin-2.3.1-source-release.zip
/maven-jar-plugin-2.3.2-source-release.zip
/maven-jar-plugin-2.4-source-release.zip
/maven-jar-plugin-2.5-source-release.zip
/maven-jar-plugin-2.6-source-release.zip
/maven-jar-plugin-3.0.0-source-release.zip
/maven-jar-plugin-3.0.1-source-release.zip
/maven-jar-plugin-3.0.2-source-release.zip
/maven-jar-plugin-3.1.0-source-release.zip
/maven-jar-plugin-3.1.2-source-release.zip
/maven-jar-plugin-3.2.0-source-release.zip
/maven-jar-plugin-3.2.2-source-release.zip
/maven-jar-plugin-3.3.0-source-release.zip
