/results_*
/*.src.rpm

/plexus-interpolation-1.13.tar.bz2
/plexus-interpolation-1.14.tar.xz
/sonatype-plexus-interpolation-plexus-interpolation-1.15-0-g9690e65.tar.gz
/plexus-interpolation-1.15.tar.gz
/plexus-interpolation-1.21.tar.gz
/plexus-interpolation-1.22.tar.gz
/plexus-interpolation-1.25.tar.gz
/plexus-interpolation-1.26.tar.gz
/plexus-interpolation-1.27.tar.gz
