lucene-2.4.1-src.tar.gz
/lucene-2.9.4-src.tar.gz
/lucene-3.6.0-src.tgz
dev-tools.tar.xz
/lucene-3.6.2-src.tgz
/noarch
/lucene-4.6.0-src.tgz
/lucene-4.6.1-src.tgz
/lucene-4.7.0-src.tgz
/dev-tools-4.7.0.tar.xz
/dev-tools-4.7.1.tar.xz
/lucene-4.7.1-src.tgz
/lucene-4.7.2-src.tgz
/dev-tools-4.7.2.tar.xz
/dev-tools-4.8.0.tar.xz
/lucene-4.8.0-src.tgz
/lucene-4.*/
/*.src.rpm
/.build-*.log
/.project
/dev-tools-4.8.1.tar.xz
/lucene-4.8.1-src.tgz
/dev-tools-4.10.1.tar.xz
/lucene-4.10.1-src.tgz
/lucene-4.10.2-src.tgz
/dev-tools-4.10.2.tar.xz
/dev-tools-4.10.3.tar.xz
/lucene-4.10.3-src.tgz
/dev-tools-4.10.4.tar.xz
/lucene-4.10.4-src.tgz
/dev-tools-5.2.1.tar.xz
/lucene-5.2.1-src.tgz
/dev-tools-5.3.0.tar.xz
/lucene-5.3.0-src.tgz
/lucene-5.3.1-src.tgz
/dev-tools-5.3.1.tar.xz
/dev-tools-5.4.0.tar.xz
/lucene-5.4.0-src.tgz
/dev-tools-5.4.1.tar.xz
/lucene-5.4.1-src.tgz
/solr-5.5.0-src.tgz
/solr-6.1.0-src.tgz
/solr-7.1.0-src.tgz
/solr-7.7.0-src.tgz
/solr-8.1.1-src.tgz
/solr-8.4.1-src.tgz
/solr-8.6.3-src.tgz
/solr-8.8.2-src.tgz
/lucene-9.2.0-src.tgz
/lucene-analysis-common-9.2.0.pom
/lucene-analysis-icu-9.2.0.pom
/lucene-analysis-kuromoji-9.2.0.pom
/lucene-analysis-morfologik-9.2.0.pom
/lucene-analysis-nori-9.2.0.pom
/lucene-analysis-opennlp-9.2.0.pom
/lucene-analysis-phonetic-9.2.0.pom
/lucene-analysis-smartcn-9.2.0.pom
/lucene-analysis-stempel-9.2.0.pom
/lucene-backward-codecs-9.2.0.pom
/lucene-benchmark-9.2.0.pom
/lucene-classification-9.2.0.pom
/lucene-codecs-9.2.0.pom
/lucene-core-9.2.0.pom
/lucene-demo-9.2.0.pom
/lucene-expressions-9.2.0.pom
/lucene-facet-9.2.0.pom
/lucene-grouping-9.2.0.pom
/lucene-highlighter-9.2.0.pom
/lucene-join-9.2.0.pom
/lucene-luke-9.2.0.pom
/lucene-memory-9.2.0.pom
/lucene-misc-9.2.0.pom
/lucene-monitor-9.2.0.pom
/lucene-queries-9.2.0.pom
/lucene-queryparser-9.2.0.pom
/lucene-replicator-9.2.0.pom
/lucene-sandbox-9.2.0.pom
/lucene-spatial3d-9.2.0.pom
/lucene-suggest-9.2.0.pom
/lucene-test-framework-9.2.0.pom
/lucene-9.4.0-src.tgz
/lucene-analysis-common-9.4.0.pom
/lucene-analysis-icu-9.4.0.pom
/lucene-analysis-kuromoji-9.4.0.pom
/lucene-analysis-morfologik-9.4.0.pom
/lucene-analysis-nori-9.4.0.pom
/lucene-analysis-opennlp-9.4.0.pom
/lucene-analysis-phonetic-9.4.0.pom
/lucene-analysis-smartcn-9.4.0.pom
/lucene-analysis-stempel-9.4.0.pom
/lucene-backward-codecs-9.4.0.pom
/lucene-benchmark-9.4.0.pom
/lucene-classification-9.4.0.pom
/lucene-codecs-9.4.0.pom
/lucene-core-9.4.0.pom
/lucene-demo-9.4.0.pom
/lucene-expressions-9.4.0.pom
/lucene-facet-9.4.0.pom
/lucene-grouping-9.4.0.pom
/lucene-highlighter-9.4.0.pom
/lucene-join-9.4.0.pom
/lucene-luke-9.4.0.pom
/lucene-memory-9.4.0.pom
/lucene-misc-9.4.0.pom
/lucene-monitor-9.4.0.pom
/lucene-queries-9.4.0.pom
/lucene-queryparser-9.4.0.pom
/lucene-replicator-9.4.0.pom
/lucene-sandbox-9.4.0.pom
/lucene-spatial3d-9.4.0.pom
/lucene-suggest-9.4.0.pom
/lucene-test-framework-9.4.0.pom
/lucene-9.5.0-src.tgz
/lucene-analysis-common-9.5.0.pom
/lucene-analysis-icu-9.5.0.pom
/lucene-analysis-kuromoji-9.5.0.pom
/lucene-analysis-morfologik-9.5.0.pom
/lucene-analysis-nori-9.5.0.pom
/lucene-analysis-opennlp-9.5.0.pom
/lucene-analysis-phonetic-9.5.0.pom
/lucene-analysis-smartcn-9.5.0.pom
/lucene-analysis-stempel-9.5.0.pom
/lucene-backward-codecs-9.5.0.pom
/lucene-benchmark-9.5.0.pom
/lucene-classification-9.5.0.pom
/lucene-codecs-9.5.0.pom
/lucene-core-9.5.0.pom
/lucene-demo-9.5.0.pom
/lucene-expressions-9.5.0.pom
/lucene-facet-9.5.0.pom
/lucene-grouping-9.5.0.pom
/lucene-highlighter-9.5.0.pom
/lucene-join-9.5.0.pom
/lucene-luke-9.5.0.pom
/lucene-memory-9.5.0.pom
/lucene-misc-9.5.0.pom
/lucene-monitor-9.5.0.pom
/lucene-queries-9.5.0.pom
/lucene-queryparser-9.5.0.pom
/lucene-replicator-9.5.0.pom
/lucene-sandbox-9.5.0.pom
/lucene-spatial3d-9.5.0.pom
/lucene-suggest-9.5.0.pom
/lucene-test-framework-9.5.0.pom
/lucene-9.9.1-src.tgz
/lucene-analysis-common-9.9.1.pom
/lucene-analysis-icu-9.9.1.pom
/lucene-analysis-kuromoji-9.9.1.pom
/lucene-analysis-morfologik-9.9.1.pom
/lucene-analysis-nori-9.9.1.pom
/lucene-analysis-opennlp-9.9.1.pom
/lucene-analysis-phonetic-9.9.1.pom
/lucene-analysis-smartcn-9.9.1.pom
/lucene-analysis-stempel-9.9.1.pom
/lucene-backward-codecs-9.9.1.pom
/lucene-benchmark-9.9.1.pom
/lucene-classification-9.9.1.pom
/lucene-codecs-9.9.1.pom
/lucene-core-9.9.1.pom
/lucene-demo-9.9.1.pom
/lucene-expressions-9.9.1.pom
/lucene-facet-9.9.1.pom
/lucene-grouping-9.9.1.pom
/lucene-highlighter-9.9.1.pom
/lucene-join-9.9.1.pom
/lucene-luke-9.9.1.pom
/lucene-memory-9.9.1.pom
/lucene-misc-9.9.1.pom
/lucene-monitor-9.9.1.pom
/lucene-queries-9.9.1.pom
/lucene-queryparser-9.9.1.pom
/lucene-replicator-9.9.1.pom
/lucene-sandbox-9.9.1.pom
/lucene-spatial3d-9.9.1.pom
/lucene-suggest-9.9.1.pom
/lucene-test-framework-9.9.1.pom
/lucene-9.9.2-src.tgz
/lucene-analysis-common-9.9.2.pom
/lucene-analysis-icu-9.9.2.pom
/lucene-analysis-kuromoji-9.9.2.pom
/lucene-analysis-morfologik-9.9.2.pom
/lucene-analysis-nori-9.9.2.pom
/lucene-analysis-opennlp-9.9.2.pom
/lucene-analysis-phonetic-9.9.2.pom
/lucene-analysis-smartcn-9.9.2.pom
/lucene-analysis-stempel-9.9.2.pom
/lucene-backward-codecs-9.9.2.pom
/lucene-benchmark-9.9.2.pom
/lucene-classification-9.9.2.pom
/lucene-codecs-9.9.2.pom
/lucene-core-9.9.2.pom
/lucene-demo-9.9.2.pom
/lucene-expressions-9.9.2.pom
/lucene-facet-9.9.2.pom
/lucene-grouping-9.9.2.pom
/lucene-highlighter-9.9.2.pom
/lucene-join-9.9.2.pom
/lucene-luke-9.9.2.pom
/lucene-memory-9.9.2.pom
/lucene-misc-9.9.2.pom
/lucene-monitor-9.9.2.pom
/lucene-queries-9.9.2.pom
/lucene-queryparser-9.9.2.pom
/lucene-replicator-9.9.2.pom
/lucene-sandbox-9.9.2.pom
/lucene-spatial3d-9.9.2.pom
/lucene-suggest-9.9.2.pom
/lucene-test-framework-9.9.2.pom
/lucene-9.11.1-src.tgz
/lucene-analysis-common-9.11.1.pom
/lucene-analysis-icu-9.11.1.pom
/lucene-analysis-kuromoji-9.11.1.pom
/lucene-analysis-morfologik-9.11.1.pom
/lucene-analysis-nori-9.11.1.pom
/lucene-analysis-opennlp-9.11.1.pom
/lucene-analysis-phonetic-9.11.1.pom
/lucene-analysis-smartcn-9.11.1.pom
/lucene-analysis-stempel-9.11.1.pom
/lucene-backward-codecs-9.11.1.pom
/lucene-benchmark-9.11.1.pom
/lucene-classification-9.11.1.pom
/lucene-codecs-9.11.1.pom
/lucene-core-9.11.1.pom
/lucene-demo-9.11.1.pom
/lucene-expressions-9.11.1.pom
/lucene-facet-9.11.1.pom
/lucene-grouping-9.11.1.pom
/lucene-highlighter-9.11.1.pom
/lucene-join-9.11.1.pom
/lucene-luke-9.11.1.pom
/lucene-memory-9.11.1.pom
/lucene-misc-9.11.1.pom
/lucene-monitor-9.11.1.pom
/lucene-queries-9.11.1.pom
/lucene-queryparser-9.11.1.pom
/lucene-replicator-9.11.1.pom
/lucene-sandbox-9.11.1.pom
/lucene-spatial3d-9.11.1.pom
/lucene-suggest-9.11.1.pom
/lucene-test-framework-9.11.1.pom
/lucene-9.12.0-src.tgz
/lucene-analysis-common-9.12.0.pom
/lucene-analysis-icu-9.12.0.pom
/lucene-analysis-kuromoji-9.12.0.pom
/lucene-analysis-morfologik-9.12.0.pom
/lucene-analysis-nori-9.12.0.pom
/lucene-analysis-opennlp-9.12.0.pom
/lucene-analysis-phonetic-9.12.0.pom
/lucene-analysis-smartcn-9.12.0.pom
/lucene-analysis-stempel-9.12.0.pom
/lucene-backward-codecs-9.12.0.pom
/lucene-benchmark-9.12.0.pom
/lucene-classification-9.12.0.pom
/lucene-codecs-9.12.0.pom
/lucene-core-9.12.0.pom
/lucene-demo-9.12.0.pom
/lucene-expressions-9.12.0.pom
/lucene-facet-9.12.0.pom
/lucene-grouping-9.12.0.pom
/lucene-highlighter-9.12.0.pom
/lucene-join-9.12.0.pom
/lucene-luke-9.12.0.pom
/lucene-memory-9.12.0.pom
/lucene-misc-9.12.0.pom
/lucene-monitor-9.12.0.pom
/lucene-queries-9.12.0.pom
/lucene-queryparser-9.12.0.pom
/lucene-replicator-9.12.0.pom
/lucene-sandbox-9.12.0.pom
/lucene-spatial3d-9.12.0.pom
/lucene-suggest-9.12.0.pom
/lucene-test-framework-9.12.0.pom
/lucene-10.1.0-src.tgz
/lucene-analysis-common-10.1.0.pom
/lucene-analysis-icu-10.1.0.pom
/lucene-analysis-kuromoji-10.1.0.pom
/lucene-analysis-morfologik-10.1.0.pom
/lucene-analysis-nori-10.1.0.pom
/lucene-analysis-opennlp-10.1.0.pom
/lucene-analysis-phonetic-10.1.0.pom
/lucene-analysis-smartcn-10.1.0.pom
/lucene-analysis-stempel-10.1.0.pom
/lucene-backward-codecs-10.1.0.pom
/lucene-benchmark-10.1.0.pom
/lucene-classification-10.1.0.pom
/lucene-codecs-10.1.0.pom
/lucene-core-10.1.0.pom
/lucene-demo-10.1.0.pom
/lucene-expressions-10.1.0.pom
/lucene-facet-10.1.0.pom
/lucene-grouping-10.1.0.pom
/lucene-highlighter-10.1.0.pom
/lucene-join-10.1.0.pom
/lucene-luke-10.1.0.pom
/lucene-memory-10.1.0.pom
/lucene-misc-10.1.0.pom
/lucene-monitor-10.1.0.pom
/lucene-queries-10.1.0.pom
/lucene-queryparser-10.1.0.pom
/lucene-replicator-10.1.0.pom
/lucene-sandbox-10.1.0.pom
/lucene-spatial3d-10.1.0.pom
/lucene-suggest-10.1.0.pom
/lucene-test-framework-10.1.0.pom
/lucene-10.2.0-src.tgz
/lucene-analysis-common-10.2.0.pom
/lucene-analysis-icu-10.2.0.pom
/lucene-analysis-kuromoji-10.2.0.pom
/lucene-analysis-morfologik-10.2.0.pom
/lucene-analysis-nori-10.2.0.pom
/lucene-analysis-opennlp-10.2.0.pom
/lucene-analysis-phonetic-10.2.0.pom
/lucene-analysis-smartcn-10.2.0.pom
/lucene-analysis-stempel-10.2.0.pom
/lucene-backward-codecs-10.2.0.pom
/lucene-benchmark-10.2.0.pom
/lucene-classification-10.2.0.pom
/lucene-codecs-10.2.0.pom
/lucene-core-10.2.0.pom
/lucene-demo-10.2.0.pom
/lucene-expressions-10.2.0.pom
/lucene-facet-10.2.0.pom
/lucene-grouping-10.2.0.pom
/lucene-highlighter-10.2.0.pom
/lucene-join-10.2.0.pom
/lucene-luke-10.2.0.pom
/lucene-memory-10.2.0.pom
/lucene-misc-10.2.0.pom
/lucene-monitor-10.2.0.pom
/lucene-queries-10.2.0.pom
/lucene-queryparser-10.2.0.pom
/lucene-replicator-10.2.0.pom
/lucene-sandbox-10.2.0.pom
/lucene-spatial3d-10.2.0.pom
/lucene-suggest-10.2.0.pom
/lucene-test-framework-10.2.0.pom
/lucene-10.3.2-src.tgz
/lucene-analysis-common-10.3.2.pom
/lucene-analysis-icu-10.3.2.pom
/lucene-analysis-kuromoji-10.3.2.pom
/lucene-analysis-morfologik-10.3.2.pom
/lucene-analysis-nori-10.3.2.pom
/lucene-analysis-opennlp-10.3.2.pom
/lucene-analysis-phonetic-10.3.2.pom
/lucene-analysis-smartcn-10.3.2.pom
/lucene-analysis-stempel-10.3.2.pom
/lucene-backward-codecs-10.3.2.pom
/lucene-benchmark-10.3.2.pom
/lucene-classification-10.3.2.pom
/lucene-codecs-10.3.2.pom
/lucene-core-10.3.2.pom
/lucene-demo-10.3.2.pom
/lucene-expressions-10.3.2.pom
/lucene-facet-10.3.2.pom
/lucene-grouping-10.3.2.pom
/lucene-highlighter-10.3.2.pom
/lucene-join-10.3.2.pom
/lucene-luke-10.3.2.pom
/lucene-memory-10.3.2.pom
/lucene-misc-10.3.2.pom
/lucene-monitor-10.3.2.pom
/lucene-queries-10.3.2.pom
/lucene-queryparser-10.3.2.pom
/lucene-replicator-10.3.2.pom
/lucene-sandbox-10.3.2.pom
/lucene-spatial3d-10.3.2.pom
/lucene-suggest-10.3.2.pom
/lucene-test-framework-10.3.2.pom
