/results_*
/*.src.rpm

/fasterxml-oss-parent-3-src-git.tar.xz
/fasterxml-oss-parent-4-src-git.tar.xz
/oss-parent-10.tar.gz
/oss-parent-11.tar.gz
/oss-parent-16.tar.gz
/18e.tar.gz
/oss-parent-24.tar.gz
/oss-parent-26.tar.gz
/oss-parent-34.tar.gz
/oss-parent-38.tar.gz
/oss-parent-40.tar.gz
/oss-parent-41.tar.gz
/oss-parent-48.tar.gz
/oss-parent-49.tar.gz
/oss-parent-50.tar.gz
/oss-parent-51.tar.gz
/oss-parent-52.tar.gz
/oss-parent-53.tar.gz
/oss-parent-54.tar.gz
/oss-parent-55.tar.gz
/oss-parent-56.tar.gz
/oss-parent-57.tar.gz
/oss-parent-58.tar.gz
/oss-parent-59.tar.gz
/oss-parent-60.tar.gz
/oss-parent-61.tar.gz
/oss-parent-62.tar.gz
