usb-modeswitch-data-20100621.tar.bz2
usb-modeswitch-data-20100707.tar.bz2
usb-modeswitch-data-20100817.tar.bz2
/usb-modeswitch-data-20101222.tar.bz2
/usb-modeswitch-data-20110227.tar.bz2
/usb-modeswitch-data-20110714.tar.bz2
/usb-modeswitch-data-20111023.tar.bz2
/usb-modeswitch-data-20120531.tar.bz2
/usb-modeswitch-data-20120815.tar.bz2
/usb-modeswitch-data-20121109.tar.bz2
/usb-modeswitch-data-20130610.tar.bz2
/usb-modeswitch-data-20130807.tar.bz2
/usb-modeswitch-data-20131113.tar.bz2
/usb-modeswitch-data-20140327.tar.bz2
/usb-modeswitch-data-20140529.tar.bz2
/usb-modeswitch-data-20150115.tar.bz2
/usb-modeswitch-data-20150627.tar.bz2
/usb-modeswitch-data-20151101.tar.bz2
/usb-modeswitch-data-20160112.tar.bz2
/usb-modeswitch-data-20160612.tar.bz2
/usb-modeswitch-data-20160803.tar.bz2
/usb-modeswitch-data-20170806.tar.bz2
/usb-modeswitch-data-20191128.tar.bz2
