/results_*
/*.src.rpm

/maven-artifact-transfer-3.0-SNAPSHOT-source-release.zip
/maven-artifact-transfer-3.0.0-SNAPSHOT-source-release.zip
/maven-artifact-transfer-0.9.0-source-release.zip
/maven-artifact-transfer-0.11.0-source-release.zip
/maven-artifact-transfer-0.12.0-source-release.zip
/maven-artifact-transfer-0.13.1-source-release.zip
