maven-clean-plugin-2.4.1.tar.xz
/maven-clean-plugin-2.4.1-source-release.zip
maven-clean-plugin-2.5-source-release.zip
/maven-clean-plugin-2.6-source-release.zip
/maven-clean-plugin-2.6.1-source-release.zip
/maven-clean-plugin-3.0.0-source-release.zip
/maven-clean-plugin-3.1.0-source-release.zip
/maven-clean-plugin-3.2.0-source-release.zip
/maven-clean-plugin-3.3.1-source-release.zip
/maven-clean-plugin-3.3.2-source-release.zip
