/plasma-settings-22.04.tar.xz
*.src.rpm
/plasma-settings-22.06.tar.xz
/plasma-settings-22.09.tar.xz
/plasma-settings-22.11.tar.xz
/plasma-settings-23.01.0.tar.xz
/plasma-settings-24.02.0.tar.xz
/plasma-settings-25.02.0.tar.xz
/plasma-settings-25.07.0.tar.xz
/plasma-settings-v25.11.0.tar.xz
/plasma-settings-25.11.0.tar.xz
/plasma-settings-25.12.0.tar.xz
/plasma-settings-26.02.0.tar.xz
