/dcap-qvl-*.tar.gz
/dcap-qvs-*.tar.gz
/intel-sgx-ssl-*.tar.gz
/ippcp_*.tar.gz
/jwt-cpp-*.tar.gz
/libcbor-*.tar.gz
/linux-sgx-*.tar.gz
/openssl-*.tar.gz
/prebuilt_dcap_*.tar.gz
/sgx-emm-*.tar.gz
/tinyxml2-*.tar.gz
/wasm-micro-runtime-*.tar.gz
/DCAP_*.tar.gz
*~
/pccs-*-node-modules.tar.xz
/node-ffi-rs-*-vendor.tar.gz
/node-ffi-rs-*.tar.gz
/pccs-*.tar.gz
/*licenses.txt
/nolicense.txt
