[Unit]
Description=Amanda Backup System
After=local-fs.target

[Service]
User=amandabackup
Group=disk
ExecStart=/usr/sbin/amandad -auth=bsdtcp amdump amindexd amidxtaped
StandardInput=socket
