/spice-vdagent-*.tar.bz2
/spice-vdagent-0.20.0.tar.bz2.sig
/victortoso-E37A484F.keyring
/jrope-7FDAB9AF.keyring
/spice-vdagent-0.21.0.tar.bz2.sig
/spice-vdagent-0.22.0.tar.bz2.sig
/spice-vdagent-0.22.1.tar.bz2.sig
