[Unit]
Description=Beanstalkd Fast Workqueue Service
After=network.target

[Service]
User=beanstalkd
Type=simple
EnvironmentFile=-/etc/sysconfig/beanstalkd
ExecStart=/usr/bin/beanstalkd $ADDR $PORT $USER $MAX_JOB_SIZE $BINLOG_DIR $BINLOG_SIZE $BINLOG_FSYNC_PERIOD
Restart=always

[Install]
WantedBy=multi-user.target
