/org.kde.plasma.translator_0.2.tar.gz
/org.kde.plasma.translator_0.3.tar.gz
/org.kde.plasma.translator_0.4.tar.gz
/org.kde.plasma.translator_0.5.tar.gz
/org.kde.plasma.translator_0.7.tar.gz
/org.kde.plasma.translator_0.8.tar.gz
