/ktextaddons-1.1.1.tar.xz
/ktextaddons-1.5.1.tar.xz
/ktextaddons-1.5.2.tar.xz
/ktextaddons-1.5.3.tar.xz
/ktextaddons-1.5.4.tar.xz
/ktextaddons-1.6.0.tar.xz
/ktextaddons-1.7.0.tar.xz
/ktextaddons-1.7.1.tar.xz
/ktextaddons-1.8.0.tar.xz
/ktextaddons-2.0.1.tar.xz
