/results_*
/*.src.rpm

/maven-archiver-2.2-src.tgz
/maven-archiver-2.4-src.tar.bz2
/maven-archiver-2.4.1-src.tar.xz
/maven-archiver-2.4.2-source-release.zip
/maven-archiver-2.5-source-release.zip
/maven-archiver-2.6-source-release.zip
/maven-archiver-3.0.0-source-release.zip
/maven-archiver-3.0.1-source-release.zip
/maven-archiver-3.0.2-source-release.zip
/maven-archiver-3.1.1-source-release.zip
/maven-archiver-3.2.0-source-release.zip
/maven-archiver-3.4.0-source-release.zip
/maven-archiver-3.5.0-source-release.zip
/maven-archiver-3.5.1-source-release.zip
/maven-archiver-3.5.2-source-release.zip
/maven-archiver-3.6.0-source-release.zip
/maven-archiver-3.6.1-source-release.zip
/maven-archiver-3.6.2-source-release.zip
