[Desktop Entry]
Name=Jigsaw Download Manager
GenericName=Download Manager
Comment=Download files prepared for Jigdo
Exec=jigdo
Icon=jigdo-icon.png
Terminal=false
StartupWMClass="jigdo"
Type=Application
Categories=GTK;Network;FileTransfer;
Encoding=UTF-8
