[Desktop Entry]
Name=ODBC Data Source Administrator
Comment=ODBC Data Source Administration Tool
Exec=ODBCManageDataSourcesQ5
Icon=ODBCManageDataSourcesQ5
Type=Application
Terminal=false
Categories=Settings;
