[Unit]
Description=Pure-FTPd FTP server
After=syslog.target network.target pure-ftpd-init.service
Requires=pure-ftpd-init.service

[Service]
Type=forking
PIDFile=/var/run/pure-ftpd.pid
ExecStart=/usr/sbin/pure-ftpd /etc/pure-ftpd/pure-ftpd.conf

[Install]
WantedBy=multi-user.target
