pidgin-sipe-1.10.1.tar.bz2
/pidgin-sipe-1.11.0.tar.bz2
/pidgin-sipe-1.11.2.tar.bz2
/pidgin-sipe-1.12.0.tar.bz2
/pidgin-sipe-1.13.0.tar.bz2
/pidgin-sipe-1.13.1.tar.bz2
/pidgin-sipe-1.13.2.tar.bz2
/pidgin-sipe-1.13.3.tar.bz2
/pidgin-sipe-1.14.0.tar.bz2
/pidgin-sipe-1.14.1.tar.bz2
/pidgin-sipe-1.15.0.tar.bz2
/pidgin-sipe-1.15.1.tar.bz2
/pidgin-sipe-1.16.0.tar.bz2
/pidgin-sipe-1.16.1.tar.bz2
/pidgin-sipe-1.17.0.tar.bz2
/pidgin-sipe-1.17.1.tar.bz2
/pidgin-sipe-1.17.2.tar.bz2
/pidgin-sipe-1.17.3.tar.bz2
/pidgin-sipe-1.18.0.tar.bz2
/pidgin-sipe-1.18.1.tar.bz2
/pidgin-sipe-1.18.2.tar.bz2
/pidgin-sipe-1.18.3.tar.bz2
/pidgin-sipe-1.18.4.tar.bz2
/pidgin-sipe-1.18.5.tar.bz2
/pidgin-sipe-1.19.0.tar.bz2
/pidgin-sipe-1.19.1.tar.bz2
/pidgin-sipe-1.20.0.tar.bz2
/pidgin-sipe-1.20.1.tar.bz2
/pidgin-sipe-1.21.0.tar.bz2
/pidgin-sipe-1.21.1.tar.bz2
/pidgin-sipe-1.22.0.tar.bz2
/pidgin-sipe-1.22.1.tar.bz2
/pidgin-sipe-1.23.0.tar.bz2
/pidgin-sipe-1.23.1.tar.bz2
/pidgin-sipe-1.23.2.tar.bz2
/pidgin-sipe-1.23.3.tar.bz2
/pidgin-sipe-1.24.0.tar.bz2
/pidgin-sipe-1.25.0.tar.bz2
