/cmap-resources-20170901.tar.gz
/cmap-resources-20171024.tar.gz
/cmap-resources-20171205.tar.gz
/cmap-resources-20190730.tar.gz
/cmap-resources-20230118.tar.gz
/cmap-resources-20230622.tar.gz
/cmap-resources-20231115.tar.gz
