[Unit]
Description=Wide DHCPv6 server
Documentation=man:dhcp6s(8) man:dhcp6s.conf(5)

[Service]
ExecStart=/usr/sbin/dhcp6s -f eth0

[Install]
WantedBy=network.target

