[Unit]
Description=Tiny/Turbo/Throttling Web Server
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/thttpd.pid
EnvironmentFile=-/etc/sysconfig/thttpd
ExecStart=/usr/sbin/thttpd -C /etc/thttpd.conf

[Install]
WantedBy=multi-user.target
