/maven-verifier-1.4-source-release.zip
/maven-verifier-1.5-source-release.zip
/maven-verifier-1.6-source-release.zip
/maven-verifier-1.7.2-source-release.zip
/maven-verifier-1.8.0-source-release.zip
/maven-verifier-2.0.0-M1-source-release.zip
